.btntype-1, .btntype-2, .widebtn{
  display: inline;
  width: 75px;
  height: 75px;
  font-size: 24px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btntype-1 {
  background-color: #8FBC8B;
}
.btntype-2, .widebtn{
  background-color: #4B6F44;
  color: white;
}
.widebtn{
  width: 150px;
}

.btntype-1:hover,
.btntype-2:hover,
.widebtn:hover {
  border: 2px dotted black;
}